# This file contains the full configuration for the pipeline in YAML format.
# Make sure to fill out at least everything that is not labelled as optional.
# All strings that start with "resources" should be relative or absolute paths
# on your machine that are readable by Snakemake.

# All samples should be defined in a TSV file. In this file, a unique
# accessionId, path to HiFi reads, (optional) path to ONT reads, (optional)
# paths to Illumina reads, species name, NCBI taxonomy ID, and reference genome
# ID should be defined.
samples: "../test_data/test_samples.tsv"

# Assembly settings
assembler: "hifiasm" #supported assemblers: hifiasm, verkko

# Scaffolding settings
YAHS: true #whether to run YAHS on Hi-C data prior to scaffolding if Hi-C is available
scaffolder: "ntjoin" #supported scaffolders: ntjoin, ragtag

# All filtering and scaffolding parameters
min_contig_len: 10000
ntjoin_k: 52
ntjoin_w: 16000

# All reference genomes and chromosomes. The reference genome ID in the samples
# sheet should match the key in this section.
reference_genomes:
    TAIR10:
        genome: "../test_data/GCF_000001735.4_TAIR10.1_genomic.fna"
        annotation: "../test_data/Araport11_GFF3_genes_transposons.current.renamed.gff"
        chromosomes:
            1: "NC_003070.9"
            2: "NC_003071.7"
            3: "NC_003074.8"
            4: "NC_003075.7"
            5: "NC_003076.8"

# All protein and nucleotide queries that need to be run for the assembly
# analysis module. The key should be the name of the query and the value should
# be the path to the query. At least one protein or nucleotide query is
# required for the module to run (organellar sequences count as nucleotide
# queries).
# Contigs with a more than 50% of its length covered by an organellar sequence
# will be separated from the scaffolded assembly output (not for QC, though).
# For the protein queries, the query should be a single exon domain as it
# is searched in the genome and not in the proteome.
prot_queries:
    NBS_domain: "../test_data/NBS_HMM.amac"
nucl_queries:
    telomere: "../test_data/telomere.fasta"
organellar:
    chloroplast: "../test_data/chloroplast.fasta"
    mitochondrion: "../test_data/mitochondrion.fasta"
telomere_motif: "CCCTAAA"

# Annotation settings
helixer_model: "land_plant" #choose between land_plant, vertebrate, invertebrate, fungi
helixer_max_gene_length: 64152

# Quality assessment settings
k_qa: 21 #optimal k-mer size for quality assessment
gxdb: "../test_data/gxdb" #path to gxdb for fcs-gx
pantools_grouping: 3 #grouping relaxation setting for pantools
odb: "brassicales_odb10" #ODB database for busco
kraken2_nt: "../test_data/nt" #kraken2 database
OMAdb: "../test_data/LUCA.h5" #OMA database for orthologs

# A section to define groups of accessions for plotting together in report. This
# list is order sensitive and will only be used for QC.
set:
    arabidopsis_all:
        - 43_elk_1
        - 44_ket_10
        - 45_meh_0

# General settings; only change if you know what you are doing
jvm: "-Xmx100g -Xms100g" #java virtual machine settings
tmpdir: "/dev/shm/tmp_arabidopsis" #temporary directory for fast IO
nucmer_maxgap: 1000 #maximum gap size for nucmer
nucmer_minmatch: 1000 #minimum match size for nucmer
